.title {  
    color: #3C4858;
    position: relative;
    min-height: 32px;
    font-family: "Roboto Slab", "Times New Roman", serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
}
