.header {
    background-image: url('../../../shared/assets/img/background.jpg');
    height: 380px;
    max-height: 1000px;
    overflow: hidden;
    position: relative;
    background-position: center center;
    background-size: cover;
    margin-bottom: 3rem;
    padding: 1rem 0 0 0;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    @media only screen and (max-width: 37.5em) {  
        height: 345px;
    }

    &:before {
        background: rgba(0, 0, 0, 0.5);
    }
    
    &:after,
    &:before {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
        content: '';
    }
}
