.headerContainer {
    background-color: #020e18;
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 3rem;

    h1 {
        font-size: 4em;
        color: #ffffff;
        padding-bottom: 2rem;
    }
}
